{% extends "faucet/base.html" %}

{% block title %}Zcash Faucet {% endblock %}

{% block head-extra %} {% endblock %}

{% block extend-js %} {% endblock %}

{% include 'faucet/modal.html' %}

{% block content %}



 	<div class="faucetcontainer">
		<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 faucetbox">
			<div class="panel panel-info">
					<div class="panel-heading">
					<div class="panel-title">
						Zcash Testnet Faucet
					</div>
				</div>

					<div class="panel-body">

						{% if flash %}
							<div class="alert alert-info">
								{{ message }}
							</div>
						{% endif %}

						<div class="panel-text">
							<p>
								Enter a <span class="taddress">transparent</span> or <span class="zaddress">shielded</span> testnet address and receive a small amount of testnet TAZ to play with.
							</p>
							<p>
								To maintain enough funds for everyone, transactions may not send if you recently used the faucet.</br>
								Faucet is refilled every few hours.  Donations appreciated!</br>
							</p>
						</div>
						<form class="form-horizontal" method="post" action="/">
							{% csrf_token %}
							<div class="input-group col-md-8">
								<span class="input-group-addon">Address</span>
								<input class="form-control" placeholder="tmKBPqa8qqKA7vrGq1AaXHSAr9vqa3GczzK" name="address" maxlength="95" type="text"/>
							</div>

							<div class="form-group buttons">
								<div class="col-md-4 col-md-offset-2">
									<button id="submitButton" class="btn btn-block btn-primary" action="submit"><span class="glyphicon glyphicon-tint"></span>Tap Faucet</button>
								</div>
								<div class="col-md-4">
									<button id="donateButton" type="button" data-toggle="modal" data-target="#donateModal" class="btn btn-block" ><span class="glyphicon glyphicon-heart"></span>Donate</button>
								</div>
							</div>
						</form>
					</div>
			</div>
		</div>

		</div>

	</div>
	</br>

	</br>


{% endblock %}
