    <footer class="footer">
      <div class="container">
        <div class="stats row">
          <div class="col-md-4">
            <ul>
              <li>
                <i class="fa fa-code-fork" aria-hidden="true"></i>&nbsp;Currently running: {{ version }}
              </li>
              <li>
                <i class="fa fa-database" aria-hidden="true"></i>&nbsp;Block Height: {{ height }}
              </li>
              <li>
                <i class="fa fa-cog" aria-hidden="true"></i>&nbsp;Difficulty: {{ difficulty | floatformat:4 }}
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul>
              <li>
                <i class="fa fa-money" aria-hidden="true"></i>&nbsp;Payouts: {{ payouts }}
              </li>
              <li>
                <i class="fa fa-usd" aria-hidden="true"></i>&nbsp;Transparent Balance: {{ balance.transparent | floatformat:3}} TAZ
              </li>
              <li>
                <i class="fa fa-usd" aria-hidden="true"></i>&nbsp;Private Balance: {{ balance.private | floatformat:3}} TAZ
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <p class="text-muted" style="text-align:center;font-size:1rem">Faucet hosted by the <a href="https://z.cash">Zerocoin Electric Coin Company</a>.</br>If you think the faucet is broken, <a href="https://github.com/zcash/zfaucet/issues">create an issue</a> on GitHub.</br> Visit the <a href="https://chat.zcashcommunity.com">community chat</a> for support.</p>
          </div>
        </div>
      </div>
    </footer>
