<div class="modal fade" id="donateModal" role="dialog" style="color: black;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Help fund the faucet!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          tmKBPqa8qqKA7vrGq1AaXHSAr9vqa3GczzK
        </p>
        <p>
          ztbx5DLDxa5ZLFTchHhoPNkKs57QzSyib6UqXpEdy76T1aUdFxJt1w9318Z8DJ73XzbnWHKEZP9Yjg712N5kMmP4QzS9iC9
        </p>
      </div>
    </div>
  </div>
</div>
